<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Interval</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script>

  angular.module('myApp', [])
    .controller('MyController', ['$scope', '$interval',

      function($scope, $interval) {

        $scope.current = 0;

        var stop;

        $scope.start = function() {

          if ( angular.isDefined(stop) ) return;
          stop = $interval(function() {

              $scope.current = $scope.current + 1;

          }, 1000);
        };

        $scope.stopTimer = function() {
          if (angular.isDefined(stop)) {
            $interval.cancel(stop);
            stop = undefined;
          }
        };

        $scope.resetTimer = function() {
          $scope.current = 0;
          $interval.cancel(stop);
        };
      }])

</script> 
</head>
<body ng-app="myApp">
  <div>
    <div ng-controller="MyController">
      <p>{{current}}</p>
      <button type="button" ng-click="start()">Start</button>
      <button type="button" ng-click="stopTimer()">Stop</button>
      <button type="button" ng-click="resetTimer()">Reset</button>
    </div>
  </div>
</body>
</html>