<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDo List (Task2)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

</head>
<body ng-app="app">

    <div class="container" ng-controller="AppController as todoList">

        <h3>ToDo List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tr ng-repeat="todo in todoList.todos">
                <td>{{todo.name}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.date}}</td>
                <td><input type="checkbox" ng-model="todo.done"></td>
            </tr>
        </table>
        <div>
			<form ng-submit="todoList.addTask()">
    			<div class="form-group">
    			  <label for="name">Name</label>
    			  <input type="text" class="form-control" id="name" placeholder="Enter task name" ng-model="todoList.name">
    			</div>
    			<div class="form-group">
    			  <label for="date">Due Date</label>
    			  <input type="date" class="form-control" id="date" placeholder="Enter date" ng-model="todoList.date">
    			</div>
    			<div class="form-group">
    			  <label for="description">Description</label>
    			  <input type="text" class="form-control" id="description" placeholder="Enter description" ng-model="todoList.description">
    			</div>
    			<div class="checkbox">
    			  <label><input type="checkbox" ng-model="todoList.done"> Completed</label>
    			</div>
    			<button type="submit" class="btn btn-default">Add</button>
			</form>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="app/app.module.js"></script>
<script src="app/app.controller.js"></script>
</body>
</html>