<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <title>1.1</title>
    <script>
        var app = angular.module('myApp', [])

            .controller('mainCtrl', ['$scope', 'mathFactory', function ($scope, mathFactory) {

                $scope.result = 0;

                $scope.add = function () {
                    $scope.result = mathFactory.add($scope.firstVal, $scope.secondVal);
                };
                $scope.minus = function () {
                    $scope.result = mathFactory.minus($scope.firstVal, $scope.secondVal);
                };
                $scope.mul = function () {
                    $scope.result = mathFactory.mul($scope.firstVal, $scope.secondVal);
                };
                $scope.division = function () {
                    $scope.result = mathFactory.division($scope.firstVal, $scope.secondVal);
                };

            }])
            
            .factory('mathFactory', function () {

                return {
                    add: function(a,b) {
                        return a+b;
                    },
                    minus: function(a,b) {
                        return a-b;
                    },
                    mul: function(a,b) {
                        return a*b;
                    },
                    division: function(a,b) {
                        if (b==0) {
                            alert('Invalid value');
                        } else {
                            return a/b;
                        }
                    }
                }
            })

    </script>
</head>
<body ng-controller="mainCtrl">
    <input type="number" ng-model='firstVal' placeholder="Enter first value">
    <input type="number" ng-model='secondVal' placeholder="Enter second value"><br />
    <button ng-click="add()">+</button>
    <button ng-click="minus()">-</button>
    <button ng-click="mul()">*</button>
    <button ng-click="division()">/</button>
    <div>{{result}}</div>
</body>
</html>