<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>ToDo List (Task2)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

</head>
<body ng-app="app">

    <div class="container" ng-controller="AppController as items">

        <h3>Items</h3>
        <select ng-model="items.selected" ng-options="item.display for item in items.options track by item.value"></select>
        <div ng-switch on="items.selected.value">
            <table class="table" ng-switch-when="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Count</th>
                        <th>Tax</th>
                        <th>Expiration</th>
                    </tr>
                </thead>
                <tr ng-repeat="item in items.itemsList">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.tax}}</td>
                    <td>{{item.expiration}}</td>
                </tr>
            </table>
            <ul ng-switch-when="list">
                <li ng-repeat="item in items.itemsList">{{item.name}} - {{item.price}} - {{item.category}} - {{item.count}} - {{item.tax}} - {{item.expiration}}</li>
            </ul>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="app/app.module.js"></script>
<script src="app/app.controller.js"></script>
</body>
</html>