<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>$http Promise</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script>
        angular.module("myApp", [])
        .controller("mainCtrl", function ($scope, $http) {

            $scope.getItems = function () {

                var promise = $http.get("data/data.json");

                promise.then(getData, rejected)
            }

            function getData(response) {
                $scope.items = response.data; 
            }

            function rejected(error) {
                console.error(error.status);
                console.error(error.statusText);
            }
        });
    </script>
</head>
<body ng-controller="mainCtrl">
    <button class="btn btn-success" ng-click="getItems()">GET</button>
            
    <table class="table">
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>
    </div>
</body>
</html>
